<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    	<script src="{{ url_for('static', filename='scripts/dropdownScript.js') }}"></script>
    	<meta charset="utf-8">
      	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  		<title>On-Demand Minecraft Server for Kennett Group</title>
    </head>
    <body>
    	<h1>On-Demand Minecraft Server for Kennett Group</h1>
    	<form action="{{ url_for('init_server') }}", method="POST">
    		<select name="server" type="text" id="serverDropdown">
    			<option value="0">-select server-</option>
    			<option value="1">Rory's Server</option>
    			<option value="2">Roguelike Adventures and Dungeons</option>
{#                <option value="3">SevTech Ages 3.1.2</option>#}
    		</select>
    		<input type="text" name="password" placeholder="Password">
    		<input type="submit" value="Start Server">
    	</form>
  		<div id="serverText">Select a server in the dropdown to see details here.</div>
    	<h2>{{ ipMessage }}</h2>
        <h3>Monthly cost breakdowns (Venmo @Liam_Bonnage to support the server):</h3>
        <h3>{{ monthCosts }}</h3>
    </body>
</html>